@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Asap, sans-serif;
}

body {
  background-color: #24272e;
}

header {
  background: white;
  padding: 20px;
}

header > h1 {
  color: #24272e;
  text-align: center;
}

.scoreboard {
  border: 3px solid white;
  border-radius: 4px;
  text-align: center;
  padding: 15px 20px;
  width: 200px;
  margin: 20px auto;
  color: white;
  font-size: 46px;
  position: relative;
}

.badge {
  background-color: #e2584d;
  color: white;
  font-size: 14px;
  padding: 2px 10px;
}

#user-label {
  position: absolute;
  top: 30px;
  left: -25px;
}

#cpu-label {
  position: absolute;
  top: 30px;
  right: -25px;
}

.result {
  font-size: 40px;
  color: white;
  text-align: center;
  font-weight: bold;
}

.choices {
  margin: 50px 0;
  text-align: center;
}

.choice {
  display: inline-block;
  border: 4px solid white;
  border-radius: 50%;
  padding: 15px;
  margin: 0 20px;
  transition: all 0.3s ease;
}

.choice:hover {
  cursor: pointer;
  background-color: #e2584d;
}

#action-message {
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 20px;
}
